<!DOCTYPE html>
<html lang="en">
<head>
    <title>DenverMesh Utilities</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>
<body>
<h1>Repeater Configuration Generator</h1>
<div id="repeater-details">
    <h2>Repeater Details:</h2>
    <h3>Name: {{ name }}</h3>
    <p>Click <a href="https://gessaman.com/mc-keygen/?prefix={{ public_key_id }}" target="_blank">here</a> to generate your public and private keys.</p>
</div>
</body>
</html>
